.home-page {
  &__title {
    color: red;
    font-family: "courier new, monospace, serif";
  }

  &__products {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
